<div class="app-wrapper-web">

  <div class="content_wrapper">

    <mat-drawer-container style="overflow: hidden;  width: 36em;">
      <mat-drawer #settingdrawer position="start" mode="over" style="width: 100%;">

        <div class="account_settings">

          <div class="header">
            <div class="line"></div>
            <div class="line">
              <button (click)="settingdrawer.toggle()">
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
              <h3>Profile</h3>
            </div>
          </div>

          <div class="settings">

            <div class="avatar">
              <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
            </div>

            <div class="set" style="height: 5em;"></div>

            <div class="set">
              <mat-icon>account_box</mat-icon>
              <div class="details">
                <h2>Romain EBOUE</h2>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sint dolor dolores maxime ex nostrum perferendis excepturi nisi necessitatibus natus.</p>
              </div>
            </div>

            <div class="set">
              <mat-icon>store</mat-icon>
              <h3>Buisiness Description</h3>
              <div class="spacer"></div>
              <button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="set">
              <mat-icon>local_offer</mat-icon>
              <h3>Computer Company</h3>
              <div class="spacer"></div>
              <button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="set">
              <mat-icon>location_on</mat-icon>
              <h3>Buisiness Adresse</h3>
              <div class="spacer"></div>
              <button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="set">
              <mat-icon>history</mat-icon>
              <h3>Buisiness Hours</h3>
              <div class="spacer"></div>
              <button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="set">
              <mat-icon>email</mat-icon>
              <h3>Email Adress</h3>
              <div class="spacer"></div>
              <button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="set mb_30">
              <mat-icon>public</mat-icon>
              <h3>Website</h3>
              <div class="spacer"></div>
              <button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="catalogue mb_30">
              <div class="head">
                <h4>Products</h4>
                <div class="spacer"></div>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </div>

              <div class="cat_list">

                <div class="cat new">
                  <button>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>

                <div class="spacer"></div>

                <div class="cat">

                </div>

                <div class="spacer"></div>

                <div class="cat">

                </div>

              </div>

              <div class="add_catalog">
                <button>ADD CATALOG</button>
              </div>

            </div>

            <div class="about set">
              <div class="head">
                <h4>About and Phone Number</h4>
              </div>
            </div>

            <div class="set">
              <mat-icon>info</mat-icon>
              <h3>Available</h3>
              <div class="spacer"></div>
              <button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="set">
              <mat-icon>call</mat-icon>
              <div >
                <h3>letest@gmail.com</h3>
                <p style="text-align: justify; margin-left: 1em;">
                  Your phone number can be edited from the app on your mobile device.
                </p>
              </div>
            </div>

          </div>

        </div>

      </mat-drawer>

      <mat-drawer #newchatdrawer position="start" mode="over" style="width: 100%;">

        <div class="account_settings">

          <div class="header">
            <div class="line"></div>
            <div class="line">
              <button (click)="newchatdrawer.toggle()">
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
              <h3>New chat</h3>
            </div>
          </div>

          <div class="chat_search">
            <input type="search" placeholder="Search or start new chat">
          </div>

          <div class="new_group">
            <button>
              <mat-icon>group_add</mat-icon>
            </button>

            <h3>New group</h3>
          </div>

          <div class="chat_list">

            <div class="frequetly_contected">
              <h3>FREQUENTLY CONTACTED</h3>
            </div>

            <div class="chat first_recent_chat">

              <div class="chat_pic">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>Communauté Music</h4>
                </div>

                <div class="some_details">
                  <h5>{{'Dis, je peux passer prendre mon colis demain ?' | lessText}}</h5>
                </div>
              </div>

            </div>

            <div class="chat">

              <div class="chat_pic">
                <img src="https://ui-avatars.com/api/?name=Victor+DIMITRI&background=random" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>Victor DIMITRI</h4>
                </div>

                <div class="some_details">
                  <h5>{{'Dis, je peux passer prendre mon colis demain ?' | lessText}}</h5>
                </div>
              </div>

            </div>

            <div class="chat">

              <div class="chat_pic">
                <img src="https://ui-avatars.com/api/?name=John+Doe&background=random" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>John DOE</h4>
                </div>

                <div class="some_details">
                  <h5>{{'Dis, je peux passer prendre mon colis demain ?' | lessText}}</h5>
                </div>
              </div>

            </div>

          </div>

          <div class="chat_list">

            <div class="frequetly_contected">
              <h3>#</h3>
            </div>

            <div class="chat first_recent_chat">

              <div class="chat_pic">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>letest@gmail.com</h4>
                </div>

                <div class="some_details">
                  <h5>{{'Disponible' | lessText}}</h5>
                </div>
              </div>

            </div>

            <div class="chat">

              <div class="chat_pic">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>letest001@gmail.com</h4>
                </div>
              </div>

            </div>

            <div class="chat">

              <div class="chat_pic">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>1</h4>
                </div>

                <div class="some_details">
                  <h5>{{'Hey there ! I am using WhatsApp' | lessText}}</h5>
                </div>
              </div>

            </div>

          </div>

          <div class="chat_list">

            <div class="frequetly_contected">
              <h3>A</h3>
            </div>

            <div class="chat first_recent_chat">

              <div class="chat_pic">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>Alan</h4>
                </div>

                <div class="some_details">
                  <h5>{{'Disponnible' | lessText}}</h5>
                </div>
              </div>

            </div>

            <div class="chat first_recent_chat">

              <div class="chat_pic">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>Alan</h4>
                </div>

                <div class="some_details">
                  <h5>{{'Hey there ! I am using whatsApp' | lessText}}</h5>
                </div>
              </div>

            </div>

            <div class="chat first_recent_chat">

              <div class="chat_pic">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>Alain ORJ</h4>
                </div>

                <div class="some_details">
                  <h5>{{'Appels d\'urgence seulement' | lessText}}</h5>
                </div>
              </div>

            </div>

            <div class="chat first_recent_chat">

              <div class="chat_pic">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
              </div>

              <div class="chat_infos">
                <div class="title">
                  <h4>Adam</h4>
                </div>

                <div class="some_details">
                  <h5>{{'.' | lessText}}</h5>
                </div>
              </div>

            </div>

          </div>


        </div>

      </mat-drawer>


    <div class="list_side">

      <div class="head_info">
        <div class="head_avatar">
          <img (click)="settingdrawer.toggle()" src="../../../assets/img/musician-5960112_1920.jpg" alt="">
        </div>
        <div class="spacer"></div>
        <div class="head_button">
          <button title="Status">
            <mat-icon>donut_large</mat-icon>
          </button>

          <button (click)="newchatdrawer.toggle()" title="New Chat">
            <mat-icon>chat</mat-icon>
          </button>

          <button title="Menu" [matMenuTriggerFor]="Menumenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #Menumenu="matMenu" xPosition="before" style="overflow: hidden;">
            <button mat-menu-item>
              <span>New Groupœ</span>
            </button>
            <button mat-menu-item>
              <span>Profile</span>
            </button>
            <button mat-menu-item>
              <span>Catalog</span>
            </button>
            <button mat-menu-item>
              <span>Starred messages</span>
            </button>
            <button mat-menu-item>
              <span>Labels</span>
            </button>
            <button mat-menu-item>
              <span>Settings</span>
            </button>
            <button mat-menu-item>
              <span>Log out</span>
            </button>
          </mat-menu>

        </div>
      </div>

      <div class="chat_search">
        <input type="search" placeholder="Search or start new chat">
      </div>

      <div class="chat_list">

        <div class="chat">

          <div class="chat_pic">
            <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Communauté Music</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{'Dis vrai ? 😂😂😂' | lessText}}</h5>
              <div class="spacer"></div>
              <small class="msg_datas">5</small>
            </div>
          </div>

        </div>

        <div class="chat">

          <div class="chat_pic">
            <img src="https://ui-avatars.com/api/?name=Lewis+C&background=random" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Léwis CARLOS</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{'🤣🤣🤣 Mdr' | lessText}}</h5>
              <div class="spacer"></div>
              <small class="msg_datas">25</small>
            </div>
          </div>

        </div>

        <div class="chat">

          <div class="chat_pic">
            <img src="https://ui-avatars.com/api/?name=Ch+T&background=random" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Christian TOURIN</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{'Dis, je peux passer prendre mon colis demain ?' | lessText}}</h5>
              <div class="spacer"></div>
              <!-- <small class="msg_datas">25</small> -->
            </div>
          </div>

        </div>

        <div class="chat">

          <div class="chat_pic">
            <img src="https://ui-avatars.com/api/?name=MArine+SUZE&background=random" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Marlène SUZE</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{'C\'était super  👌👌 ' | lessText}}</h5>
              <div class="spacer"></div>
              <small class="msg_datas">2</small>
            </div>
          </div>

        </div>

        <div class="chat">

          <div class="chat_pic">
            <img src="https://ui-avatars.com/api/?name=P+A&background=random" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Peter ATOP</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{'Réserve moi 2 ' | lessText}}</h5>
              <div class="spacer"></div>
              <small class="msg_datas">2</small>
            </div>
          </div>

        </div>

        <div class="chat">

          <div class="chat_pic">
            <img src="https://ui-avatars.com/api/?name=Ha+Ad&background=random" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Harold ARMIN</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{' je viens déja ' | lessText}}</h5>
              <div class="spacer"></div>
              <!-- <small class="msg_datas">2</small> -->
            </div>
          </div>

        </div>

        <div class="chat">

          <div class="chat_pic">
            <img src="https://ui-avatars.com/api/?name=Rose+CO&background=random" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Rosine COULIBALY</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{'je suis bien renté ' | lessText}}</h5>
              <div class="spacer"></div>
              <small class="msg_datas">2</small>
            </div>
          </div>

        </div>

        <div class="chat">

          <div class="chat_pic">
            <img src="https://ui-avatars.com/api/?name=JUL+CO&background=random" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Julien COULIBALY</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{'hum... ' | lessText}}</h5>
              <div class="spacer"></div>
              <small class="msg_datas">2</small>
            </div>
          </div>

        </div>

        <div class="chat">

          <div class="chat_pic">
            <img src="https://ui-avatars.com/api/?name=Adr+Dia&background=random" alt="">
          </div>

          <div class="chat_infos">
            <div class="title">
              <h4>Adrien DIALO</h4>
              <div class="spacer"></div>
              <small>7:58AM</small>
            </div>

            <div class="some_details">
              <h5>{{'okk . ' | lessText}}</h5>
              <div class="spacer"></div>
              <small class="msg_datas">2</small>
            </div>
          </div>

        </div>

      </div>

    </div>

    </mat-drawer-container>


    <div class="chat_side">

      <div class="ldL67 _3sh5K">

        <mat-drawer-container>

          <mat-drawer #drawer position="end" mode="side" style="width: 40%; overflow: hidden;">

            <div class="chat_all_infos_container">

              <div class="head_info chatstuff_head">
                <div class="head_button">
                  <button (click)="drawer.toggle()" title="Search">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <h4 style="padding-top: 6px;">Contact Info</h4>
              </div>

              <div class="primary_infos info mb_10 info">
                <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">

                <div class="details">
                  <h1>Robin EBOUE</h1>
                  <h3>letes@gmail.com</h3>
                </div>
              </div>

              <div class="about_info mb_10 info">
                <div class="header">
                  <h5>About</h5>
                  <div class="spacer"></div>
                </div>
                <h4>Lorem ipsum dolor sit amet.</h4>
              </div>

              <div class="media_links_infos mb_10 info">
                <div class="header">
                  <h4>Media, links and docs</h4>
                  <div class="spacer"></div>
                  <h4>100</h4>
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
                <div class="content">
                  <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
                  <div class="spacer"></div>
                  <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
                  <div class="spacer"></div>
                  <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
                </div>
              </div>

              <div class="starred_messages mb_10 info">
                <div class="ico">
                  <mat-icon>star</mat-icon>
                </div>
                <h3>Starred messages</h3>
                <div class="spacer"></div>
                <button>
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
              </div>

              <div class="mute_notifs info">
                <div class="ico">
                  <mat-icon>notifications</mat-icon>
                </div>
                <h3>Mute Notifications</h3>
                <div class="spacer"></div>

                <mat-slide-toggle ></mat-slide-toggle>
              </div>

              <div class="disaps_messages mb_10 info">
                <div class="ico">
                  <mat-icon>slow_motion_video</mat-icon>
                </div>
                <h3>Disappearing messages</h3>
                <div class="spacer"></div>
                <button>
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
              </div>

              <div class="common_group_content mb_10 info">
                <div class="header">
                  <h4>1 group in common</h4>
                </div>

                <div class="groups_list info">
                  <div class="group">
                    <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">
                    <div class="details">
                      <h3>Communauté Music</h3>
                      <h4>Raoul, Marcelin, Alban, Maurice</h4>
                    </div>
                  </div>
                </div>

              </div>

              <div class="block_report_content mb_10 info">
                <div class="danger_action">
                  <mat-icon>not_interested</mat-icon>
                  <h3>Block Raoul ODIN</h3>
                </div>
                <div class="danger_action">
                  <mat-icon>thumb_down</mat-icon>
                  <h3>Report Raoul ODIN</h3>
                </div>
              </div>

              <div class="delete_chat_content info mb_10">
                <div class="danger_action">
                  <mat-icon>delete</mat-icon>
                  <h3>Delete chat</h3>
                </div>
              </div>

              <div class="mb_10"></div>

            </div>

          </mat-drawer>

          <div *ngIf="!chat" class="zaKsw">

            <div class="_1RAKT">
              <div class="_2JIth" data-asset-intro-image-light="true" style="transform: scale(1); opacity: 1;">
              </div>
              <div class="_35HSa" style="opacity: 1; transform: translateY(0px);">
                <h1 class="_1vPMT">Keep your phone connected</h1>
                <div class="_2-IT7">WhatsApp connects to your phone to sync messages. To reduce data usage, connect your phone to Wi-Fi.
                </div>
              </div>
            </div>

          </div>

          <mat-drawer-container>

            <mat-drawer #searchdrawer position="end" mode="side" style="width: 40%; overflow: hidden;">

              <div class="chat_all_infos_container">

                <div class="head_info chatstuff_head">
                  <div class="head_button">
                    <button  (click)="searchdrawer.toggle()" title="Search">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <h4 style="padding-top: 6px;">Search Messages</h4>
                </div>

                <div class="chat_search">
                  <input type="search" placeholder="Search or start new chat">
                </div>

                <div class="sub_info">
                  <h4>Search for messages within Leon TOUTOUNI.</h4>
                </div>

              </div>

            </mat-drawer>

            <div *ngIf="chat" class="chat_wrapper">

              <div class="head_info chatstuff_head top_chat">
                <div class="head_avatar" (click)="toogleToolbar(drawer)" >
                  <img src="../../../assets/img/musician-5960112_1920.jpg" alt="">

                  <div class="chat_infos">
                    <h4>Leon TOUTOUNI</h4>
                    <small>last seen today at 11:19 AM</small>
                  </div>

                </div>
                <div class="spacer top_chat" (click)="toogleToolbar(drawer)"></div>
                <div class="head_button">
                  <button (click)="searchdrawer.toggle()" title="Search">
                    <mat-icon>search</mat-icon>
                  </button>
                  <button title="Menu" [matMenuTriggerFor]="chatMenumenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #chatMenumenu="matMenu" xPosition="before" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Contact Info</span>
                    </button>
                    <button mat-menu-item>
                      <span>Select messages</span>
                    </button>
                    <button mat-menu-item>
                      <span>Close chat</span>
                    </button>
                    <button mat-menu-item>
                      <span>Mute notifications</span>
                    </button>
                    <button mat-menu-item>
                      <span>Clear messages</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete chat</span>
                    </button>
                  </mat-menu>
                </div>
              </div>

              <div class="chat_content_bg"></div>

              <div class="chat_content">

                <div (click)="viewMoreAboutSecureChat()" class="secure_info">
                  <p>
                    <mat-icon>lock</mat-icon>
                    Messages are end-to-end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them.
                  </p>
                  <p class="more" (click)="viewMoreAboutSecureChat()" >Click to learn more.</p>
                </div>

                <div (click)="viewMoreAboutBusinessChat()" class="business_acount_info">
                  <p>This chat is with a business account. Click to learn more.</p>
                </div>

                <div class="msg fromOther">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#ffff;stroke:#fff;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem maxime explicabo, porro mollitia earum sunt, delectus ducimus, rem similique fugiat molestias perspiciatis quaerat non eveniet quasi alias ipsum deleniti modi obcaecati. Sunt porro eos eveniet nisi, doloremque corporis molestiae? Modi labore architecto, fuga quae voluptatibus deleniti error ea accusamus nobis.</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg fromOther">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#ffff;stroke:#fff;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg fromOther">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#ffff;stroke:#fff;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg fromOther">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#ffff;stroke:#fff;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="msg">

                  <button class="msg_options" [matMenuTriggerFor]="msgmenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>

                  <mat-menu #msgmenu="matMenu" xPosition="after" style="overflow: hidden;">
                    <button mat-menu-item>
                      <span>Reply</span>
                    </button>
                    <button mat-menu-item>
                      <span>Forward message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Edit label</span>
                    </button>
                    <button mat-menu-item>
                      <span>Start message</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete message</span>
                    </button>
                  </mat-menu>

                  <!-- <div class="from_arr"></div> -->
                  <svg class="from_arr_" height="210" width="500">
                    <polygon points="0,0 0,150 200,0 " style="fill:#dcf8c6;stroke:#dcf8c6;stroke-width:1" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
                  <h5>Hello chef, comment tu vas ?</h5>

                  <div class="spacer"></div>

                  <div class="details">
                    <small>3:48 PM</small>
                    <button>
                      <mat-icon>done_all</mat-icon>
                    </button>
                  </div>
                </div>

              </div>

              <div class="head_info type_message_content">

                <div class="emoticon_file_btn">
                  <button>
                    <mat-icon>insert_emoticon</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="file">attach_file</mat-icon>
                  </button>
                </div>

                <input type="text" placeholder="Type a message" >

                <div class="mic_button">
                  <button>
                    <mat-icon>mic</mat-icon>
                  </button>
                </div>

              </div>

            </div>

          </mat-drawer-container>

        </mat-drawer-container>

      </div>

    </div>

  </div>

</div>

