.app-wrapper-web {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 1441px){
.app-wrapper-web::after {
    left: 0;
}}

@media screen and (min-width: 1441px){
  .app-wrapper-web::after {
      background-color: #04948c;
  }

  .content_wrapper {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1441px) {

  .app-wrapper-web::after {
      position: fixed;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 127px;
      content: "";
  }
}




.content_wrapper {
  display: flex;
  height: 58em;
  min-height: 54em;
  box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}

.list_side {
  width: 35em;
  background-color: rgb(66, 114, 114);
}

.chat_side {
  width: 100%;
}

._3sh5K {
  transform-origin: left top;
}

.ldL67 {
  transform: translateZ(0);
}

@media screen and (min-width: 1301px){
  .two ._3sh5K {
    flex: 70%;
  }
}

.ldL67 {
  position: relative;
  z-index: 100;
  height: 100%;
  overflow: hidden;
}

.zaKsw {
  border-left: 1px solid var(--border-stronger);
  color: #4a4a4a;
}

 .zaKsw {
  padding-top: 28px;
  padding-bottom: 28px;
  cursor: default;
  background-color: #f8f9fa;
}

.zaKsw {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

._1RAKT {
  margin-top: -20px;
  text-align: center;
}

._1RAKT {
  width: 80%;
  max-width: 560px;
}

 ._2JIth {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  transform-origin: center;

  width: 356px;
  height: 355px;
  overflow: hidden;
  opacity: 0;
  background-image: url('../../../assets/img/intro-connection-light_c98cc75f2aa905314d74375a975d2cf2.jpg');
}


