/* You can add global styles to this file, and also import other style files */
.landing-wrapper {
  padding-bottom: 92px;
  cursor: default;
}

.landing-wrapper {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.landing-wrapper::before {
  left: 0;
}

.landing-wrapper::before {
  background-color: #00bfa5;
}
.landing-wrapper::before {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 222px;
  content: "";
}

@media screen and (min-height: 760px) and (min-width: 1095px) {

  .landing-header {
    margin-bottom: 66px;
  }

}

.landing-header {
    margin: 27px auto 28px;
    display: flex;
    color: #fff;
}

.landing-headerTitle {

  margin: 0 0 0 17px;

}

.landing-header {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-start;
    width: 1050px;
    min-height: 39px;
}


.landing-window, .landing-window {
  margin-right: auto;
  margin-left: auto;
}

.landing-window {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}

.landing-window {
  z-index: 2;
  display: flex;
  flex: none;
  flex-direction: column;
  max-width: 1050px;
  overflow: hidden;
}

.landing-main {
  min-width: 40em;
  min-height: 46em;
  background-image: url('../../../../assets/img/bg-chat.png');
  background-color: honeydew;
}

.landing-title {
  margin-top: 5em;
  text-align: center;
}

.welcom_img {
  text-align: center;

  img {
    width: 39%;
    margin-top: 2em;
    padding: 6px;
    border: 12px solid #fff;
    border-radius: 50%;
  }
}

._form {
  max-width: 35em;
  margin: 3em auto;
}

.input_form {
  margin: 2em auto;
}

.input_form h4 {
  text-align: center;
  font-size: 24px;
}

.input_form input {
  width: 100%;
  height: 3.5em;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 10px;
  border: 2px solid #00bfa5;
}

.submit_button {
  width: 45%;
  margin: 0 0 0 27%;
  background-color: #00bfa5;
  padding: 1em;
  font-size: 17px;
  border-radius: 8px;
  color: #fff;
  font-weight: bolder;
  border: 0;
  cursor: pointer;
}
